.container{
    background-color: #f4f4f4;
    color: #555;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 30px;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-family: arial;
}
.item-box {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 15px;
}
.item-box li {
    padding: 5px 0;
    background-color: #fff;
    color: #555;
    margin: 7px 0;
    font-size: 70%;
    height: 20px;
    padding-left: 7px;
    vertical-align: middle;
}
li:nth-child(2n){
    background-color: rgb(109, 108, 108);
    color: #fff;
}


.textview,
.submit-btn{
    padding: 7px;
    margin: 0;
    border: none;
    margin-bottom: 8px;
}
.textview{
    border: none;
    outline: none;
}


.submit-btn{
    background-color: purple;
    color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    outline: none;
}
.item-box div{
    color: #fff;
    border-radius: 50%;
    background-color: #ff0000;
    width: 18px;
    height: 18px;
    display: inline-block;
    margin-left: 30px;
    padding: 1px;
    text-align: center;
    font-size: 100%;
}

.error{
    background-color: #c45454;  
    border: 2px solid #ff0000;
    border-radius: 2px;
    color: #fff;
    font-size: 70%;
    padding: 5px 0;
    text-align: center;
    margin-top: 10px;
    transition: background-color 0.8s, color 0.8s;
}

